p{
    font-family: "Segoe UI Symbol";
    border: 2px solid black;
    padding: 10px;
}

body{
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px auto;
    grid-gap: 10px;
    grid-template-areas:
    "a b c h"
    "e d . h"
    "f . . h"
    "g . . h";
}

#tvsInStock{
    color: red;
    grid-area: a;

}

#targetAmount{
    color: blue;
    grid-area: b;

}

#soldSoFar{
    color: green;
    grid-area: c;
}

#tvType1{
    grid-area: d;
}

#tvType2Name{
    grid-area: e;
}

#tvType2Price{
    grid-area: f;
}

#tvType2Sizes{
    grid-area: g;
}

#allTvsInInventory{
    grid-area: i;
}