p{
    font-family: "Segoe UI Symbol";
    border: 2px solid black;
    padding: 10px;
    background-color: lightblue;
}

body{
    display: inline-grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px 100px 100px 100px 100px 100px auto;
    grid-column-gap: 50px;
    grid-template-areas:
    "a h"
    "b h"
    "c h"
    "d h"
    "e h"
    "f h"
    "g .";
    background-color: black;
}

#tvsInStock{
    color: red;
    grid-area: a;

}

#targetAmount{
    color: blue;
    grid-area: b;

}

#soldSoFar{
    color: green;
    grid-area: c;
}

#tvType1{
    grid-area: d;
}

#tvType2Name{
    grid-area: e;
}

#tvType2Price{
    grid-area: f;
}

#tvType2Sizes{
    grid-area: g;
}

#tvDetails{
    grid-area: h;
}

#default{
    width: 150px;
    height: 50px;
    background-color: green;
}

#price{
    width: 150px;
    height: 50px;
    background-color: yellow;
}

#ambilight{
    width: 150px;
    height: 50px;
    background-color: beige;
}

#soldOut{
    width: 150px;
    height: 50px;
    background-color: darkred;
}